[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
python-dotenv = "*"
mysql-connector = "*"
flask = "==2.3.3"

[dev-packages]

[requires]
python_version = "3.11"
