{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Students</h1>
<a href="/student"><button>Back</button></a>
<form
	method="POST"
	action="/student/add"
	enctype="multipart/form-data"
>
	<h3 class="heading-add">Add Student</h3>
	<div class="form-group">
		<label for="student_photo">Photo</label>
		<input
			type="file"
			name="student_photo"
			class="form-control"
			id="student_photo"
			autocomplete="off"
		/>
	</div>
	<div class="form-group">
		<label for="id">ID Number</label>
		<input
			type="text"
			class="form-control"
			id="student_id"
			name="student_id"
			pattern="20\d{2}-\d{4}"
			placeholder="Enter ID number. Use the format 20xx-xxxx"
		/>
	</div>
	<div class="form-group">
		<label for="firstName">First Name</label>
		<input
			type="text"
			class="form-control"
			id="firstName"
			name="firstName"
			placeholder="Enter First Name"
		/>
	</div>
	<div class="form-group">
		<label for="lastName">Last Name</label>
		<input
			type="text"
			class="form-control"
			id="lastName"
			name="lastName"
			placeholder="Enter Last Name"
		/>
	</div>
	<div class="form-group">
		<label for="gender">Gender</label>
		<select
			class="form-control"
			id="gender"
			name="gender"
		>
			<option
				value=""
				disabled
				selected
			>
				--Select Gender--
			</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</select>
	</div>
	<div class="form-group">
		<label for="year">Year Level</label>
		<select
			class="form-control"
			id="year"
			name="year"
		>
			<option
				value=""
				disabled
				selected
			>
				--Select Year Level--
			</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
	</div>
	<div class="form-group">
		<label for="course">Course</label>
		<select
			class="form-control"
			id="course"
			name="course"
		>
			<option
				value=""
				disabled
				selected
			>
				--Select Course--
			</option>
			{% for course in courses %}
			<option value="{{ course.id }}">{{ course.course_name }}</option>
			{% endfor %}
		</select>
	</div>
	<br />
	<button
		type="submit"
		class="btn btn-info"
	>
		Submit
	</button>
</form>
{% endblock %}
