{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Students</h1>
<a href="/student"><button>Back</button></a>
<form
	method="POST"
	action="/student/add"
	enctype="multipart/form-data"
>
	<h3 class="heading-add">Add Student</h3>
	<div class="form-group">
		<div class="photo-container-add">
			<img
				src="../static/src/default_photo.jpg"
				alt="Student Photo"
				id="profile-pic"
				class="student-photo"
			/>
		</div>
		<label for="student_photo">Photo</label>
		<input
			type="file"
			name="student_photo"
			class="form-control"
			id="student_photo"
			autocomplete="off"
			onchange="checkFileSize()"
		/>
	</div>
	<div class="form-group">
		<label for="id">ID Number</label>
		<input
			type="text"
			class="form-control"
			id="student_id"
			name="student_id"
			pattern="20\d{2}-\d{4}"
			placeholder="Enter ID number. Use the format 20xx-xxxx"
		/>
	</div>
	<div class="form-group">
		<label for="firstName">First Name</label>
		<input
			type="text"
			class="form-control"
			id="firstName"
			name="firstName"
			placeholder="Enter First Name"
		/>
	</div>
	<div class="form-group">
		<label for="lastName">Last Name</label>
		<input
			type="text"
			class="form-control"
			id="lastName"
			name="lastName"
			placeholder="Enter Last Name"
		/>
	</div>
	<div class="form-group">
		<label for="gender">Gender</label>
		<select
			class="form-control"
			id="gender"
			name="gender"
		>
			<option
				value=""
				disabled
				selected
			>
				--Select Gender--
			</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</select>
	</div>
	<div class="form-group">
		<label for="year">Year Level</label>
		<select
			class="form-control"
			id="year"
			name="year"
		>
			<option
				value=""
				disabled
				selected
			>
				--Select Year Level--
			</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
	</div>
	<div class="form-group">
		<label for="course">Course</label>
		<select
			class="form-control"
			id="course"
			name="course"
		>
			<option
				value=""
				disabled
				selected
			>
				--Select Course--
			</option>
			{% for course in courses %}
			<option value="{{ course.id }}">{{ course.course_name }}</option>
			{% endfor %}
		</select>
	</div>
	<br />
	<button
		type="submit"
		id="file-submit"
		class="btn btn-info"
		onclick="checkFileSize()"
	>
		Submit
	</button>
</form>
<script>
	let profilePic = document.getElementById("profile-pic");
	let inputFile = document.getElementById("student_photo");

	inputFile.onchange = function () {
		profilePic.src = URL.createObjectURL(inputFile.files[0]);
	};

	function checkFileSize() {
		var maxSize = 1024 * 1024; // 1 MB (you can adjust this value)

		if (inputFile.files.length > 0) {
			var fileSize = inputFile.files[0].size;

			if (fileSize > maxSize) {
				alert("File size exceeds the limit of 1 MB.");
				inputFile.value = ""; // Clear the file input
				profilePic.src = "../static/src/default_photo.jpg"; // Reset the image source to default
			}
		}
	}
</script>
{% endblock %}
