{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Courses</h1>
<a href="/course"><button>Back</button></a>
<form method="POST">
	<h3 class="heading-add">Add Course</h3>
	<div class="form-group">
		<label for="courseCode">Course Code</label>
		<input
			type="text"
			class="form-control"
			id="code"
			name="code"
			placeholder="Enter Course Code"
		/>
	</div>
	<div class="form-group">
		<label for="courseName">Course Name</label>
		<input
			type="text"
			class="form-control"
			id="name"
			name="name"
			placeholder="Enter Course Name"
		/>
	</div>
	<div class="form-group">
		<label for="collegeCourse">College</label>
		<select
			class="form-control"
			id="college"
			name="college"
		>
			{% for college in colleges %}
			<option value="{{ college.id }}">{{ college.name }}</option>
			{% endfor %}
		</select>
	</div>
	<br />
	<button type="Submit">Submit</button>
</form>
{% endblock %}
