{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Colleges</h1>
<a href="/college"
	><button
		="class"
		="btn btn-secondary"
	>
		Back
	</button></a
>
<form method="POST">
	<h3>Add College</h3>
	<div class="form-group">
		<label for="collegeCode">College Code</label>
		<input
			type="text"
			class="form-control"
			id="collegeCode"
			name="collegeode"
			placeholder="Enter College Code"
		/>
	</div>
	<div class="form-group">
		<label for="collegeName">College Name</label>
		<input
			type="text"
			class="form-control"
			id="collegeName"
			name="collegeName"
			placeholder="Enter College Name"
		/>
	</div>
	<br />
	<button
		type="Submit"
		class="btn btn-primary"
	>
		Submit
	</button>
</form>
{% endblock %}
