{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Students</h1>
<a href="/student"><button>Back</button></a>
<form method="POST" enctype="multipart/form-data">
	<h3 class="heading-add">Edit Student</h3>
	<div class="form-group">
		<div class="photo-container-add">
			<img
				src="{{ student.cloudinary_url }}"
				alt="Student Photo"
				id="profile-pic"
				class="student-photo"
			/>
		</div>
		<label for="student_photo">Photo</label>
		<input
			type="file"
			name="student_photo"
			class="form-control"
			id="student_photo"
			autocomplete="off"
			onchange="checkFileSize()"
		/>
		<label for="id">ID Number</label>
		<input
			type="text"
			class="form-control"
			id="student_id"
			name="student_id"
			placeholder="Enter ID number"
			value="{{ student.student_id }}"
		/>
	</div>
	<div class="form-group">
		<label for="firstName">First Name</label>
		<input
			type="text"
			class="form-control"
			id="firstName"
			name="firstName"
			placeholder="Enter First Name"
			value="{{student.first_name}}"
		/>
	</div>
	<div class="form-group">
		<label for="lastName">Last Name</label>
		<input
			type="text"
			class="form-control"
			id="lastName"
			name="lastName"
			placeholder="Enter Last Name"
			value="{{student.last_name}}"
		/>
	</div>
	<div class="form-group">
		<label for="gender">Gender</label>
		<select
			class="form-control"
			id="gender"
			name="gender"
		>
		<option value="Male" {% if student.gender == 'Male' %}selected{% endif %}>Male</option>
		<option value="Female" {% if student.gender == 'Female' %}selected{% endif %}>Female</option>
		</select>
	</div>
	<div class="form-group">
		<label for="year">Year</label>
		<select
			class="form-control"
			id="year"
			name="year"
		>
        <option value="1" {% if student.year == 1 %}selected{% endif %}>1</option>
        <option value="2" {% if student.year == 2 %}selected{% endif %}>2</option>
        <option value="3" {% if student.year == 3 %}selected{% endif %}>3</option>
        <option value="4" {% if student.year == 4 %}selected{% endif %}>4</option>
		</select>
	</div>
	<div class="form-group">
		<label for="course">Course</label>
		<select
			class="form-control"
			id="course"
			name="course"
		>
			{% for course in courses %}
			<option value="{{ course.id }}"{% if course.id == student.course_id %} selected {% endif %}>{{ course.course_name }}</option>
			{% endfor %}
		</select>
	</div>
	<br />
	<button type="Submit" onclick="checkFileSize()">Submit</button>
</form>
<script>
	let profilePic = document.getElementById("profile-pic");
	let inputFile = document.getElementById("student_photo");

	function handleFileSelect() {
		profilePic.src = URL.createObjectURL(inputFile.files[0]);
		checkFileSize();
	}

	function checkFileSize() {
		var maxSize = 1024 * 1024; // 1 MB (you can adjust this value)

		if (inputFile.files.length > 0) {
			var fileSize = inputFile.files[0].size;

			if (fileSize > maxSize) {
				alert("File size exceeds the limit of 1 MB.");
				inputFile.value = ""; // Clear the file input
				profilePic.src = "{{ student.cloudinary_url }}"; // Reset the image source to default
			}
		}
	}
</script>
{% endblock %}
