{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Colleges</h1>
<div style="display: flex; justify-content: space-between">
	<div>
		<a href="/college/add"><button>Add College</button></a>
	</div>
	<div style="display: flex; align-items: center">
		<form
			style="color: #ecf0f1"
			action="/college/search"
			method="get"
		>
			<input
				style="color: #ecf0f1"
				type="text"
				name="query"
				placeholder="Search by name or code"
			/>
			<button type="submit">Search</button>
			<a href="/college"><button>Clear</button></a>
		</form>
	</div>
</div>
<table class="content-table">
	<thead>
		<tr>
			<th>College Code</th>
			<th>College Name</th>
			<th class="th-action"></th>
		</tr>
	</thead>
	<tbody>
		{% for college in colleges %}
		<tr>
			<td>{{ college.code }}</td>
			<td>{{ college.name }}</td>
			<td>
				<span class="action-btn">
					<a
						class="action-link-edit"
						href="edit/{{college.id}}"
						>Edit</a
					>
					<form
						method="post"
						action="/college/delete/{{ college.id }}"
					>
						<input
							type="hidden"
							name="confirmation"
							value="confirmed"
						/>
						<button
							type="button"
							class="action-link-delete"
							onclick="confirmDelete('{{ college.id }}')"
						>
							Delete
						</button>
					</form>
				</span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
