{% extends "base.html" %} {% block title %}Students - SSIS{% endblock %} {%
block content %}
<h1 align="center">Students</h1>
<div style="display: flex; justify-content: space-between">
	<div>
		<a href="/student/add"><button>Add Student</button></a>
	</div>
	<div style="display: flex; align-items: center">
		<form
			style="color: #ecf0f1"
			action="/student/search"
			method="get"
		>
			<input
				style="color: #ecf0f1"
				type="text"
				name="query"
				placeholder="Search by name or code"
			/>
			<button type="submit">Search</button>
			<a href="/student"><button>Clear</button></a>
		</form>
	</div>
</div>
<div class="table-container">
	<table class="content-table">
		<thead>
			<tr>
				<th></th>
				<th>
					<div
						style="background-color: #0088a9; color: #ecf0f1; font-weight: bold"
					>
						Name
					</div>
					<div
						style="
							background-color: #0088a9;
							color: #ecf0f1;
							font-weight: bold;
							font-size: 85%;
						"
					>
						Student ID
					</div>
				</th>
				<th>Gender</th>
				<th>Year</th>
				<th>Course</th>
				<th>College</th>
				<th class="th-action"></th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td>
					<div class="photo-container">
						<img
							src="../static/src/375333820_9867881853281951_2714770517157118347_n.jpg"
							alt="Student Photo"
							class="student-photo"
						/>
					</div>
				</td>
				<td>
					<div class="bold-text">
						{{ student.first_name }} {{student.last_name}}
					</div>
					<div class="small-text">{{ student.student_id }}</div>
				</td>
				<td>{{ student.gender }}</td>
				<td>{{ student.year }}</td>
				<td>{{ student.course_code }}</td>
				<td>{{ student.college_code }}</td>
				<td>
					<span class="action-btn">
						<a
							class="action-link-edit"
							href="edit/{{student.id}}"
							>Edit</a
						>
						<form
							method="post"
							action="/student/delete/{{ student.id }}"
						>
							<button
								type="button"
								class="action-link-delete"
								onclick="confirmDeleteStudent('{{ student.id }}')"
							>
								Delete
							</button>
						</form>
					</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
