{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Courses</h1>
<a href="/course/add"><button>Add Course</button></a>
<table class="content-table">
	<thead>
		<tr>
			<th>Course Code</th>
			<th>Course Name</th>
			<th>Course College</th>
			<th class="th-action"></th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
		<tr>
			<td>{{ course.code }}</td>
			<td>{{ course.name }}</td>
			<td>{{ course.college_name }}</td>
			<td>
				<span class="action-btn">
					<a
						class="action-link-edit"
						href="edit/{{course.id}}"
						>Edit</a
					>
					<form
						method="post"
						action="/course/delete/{{ course.id }}"
					>
						<button
							type="submit"
							class="action-link-delete"
						>
							Delete
						</button>
					</form>
				</span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
