{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Courses</h1>
<div style="display: flex; justify-content: space-between">
	<div>
		<a href="/course/add"><button>Add Course</button></a>
	</div>
	<div style="display: flex; align-items: center">
		<form
			style="color: #ecf0f1"
			action="/course/search"
			method="get"
		>
			<input
				style="color: #ecf0f1"
				type="text"
				name="query"
				placeholder="Search by name or code"
			/>
			<button type="submit">Search</button>
			<a href="/course"><button>Clear</button></a>
		</form>
	</div>
</div>
<div class="table-container">
	<table class="content-table">
		<thead>
			<tr>
				<th>Course Code</th>
				<th>Course Name</th>
				<th>Course College</th>
				<th class="th-action"></th>
			</tr>
		</thead>
		<tbody>
			{% for course in courses %}
			<tr>
				<td>{{ course.course_code }}</td>
				<td>{{ course.course_name }}</td>
				<td>{{ course.college_name }}</td>
				<td>
					<span class="action-btn">
						<a
							class="action-link-edit"
							href="edit/{{course.id}}"
							>Edit</a
						>
						<form
							method="post"
							action="/course/delete/{{ course.id }}"
						>
							<button
								type="button"
								class="action-link-delete"
								onclick="confirmDeleteCourse('{{ course.id }}')"
							>
								Delete
							</button>
						</form>
					</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
