* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252a;
}

body {
	background-color: #24252a;
}

.heading-add {
	color: #ecf0f1;
	padding: 10px 0px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Maintain aspect ratio and fill the container */
}

h1 {
	color: #ecf0f1;
	align-content: center;
}

.container-table {
	width: 100%;
	height: 300px;
}

.content-table {
	color: #ecf0f1;
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 400px;
	width: 100%;
	border-collapse: collapse;
}

.content-table thead th {
	background-color: #6750a5;
	color: #ecf0f1;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}

.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

li,
a,
button {
	font-weight: 500;
	font-size: 16px;
	color: #ecf0f1;
	text-decoration: none;
}
.form-group {
	color: #ecf0f1;
}

.form-control {
	background-color: #24252a;
	color: #ecf0f1;
}

.form-control:focus {
	background-color: #24252a;
	color: #ecf0f1;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: left;
	padding: 30px 10%;
}

.th-action {
	min-width: 50px;
	justify-content: right;
}

.NAVBAR {
	list-style: none;
}

.NAVBAR li {
	display: inline-block;
	padding: 0px 20px;
}

.NAVBAR li a {
	transition: all 0.3s ease 0s;
}

.NAVBAR li a:hover {
	color: #6750a5;
}

button {
	padding: 9px 25px;
	background-color: rgba(103, 80, 165, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(103, 80, 165, 0.7);
}

.action-btn {
	display: flex;
	transition: all 0.3s ease 0s;
	gap: 20px;
	justify-content: right;
}

.action-link-edit,
.action-link-delete {
	display: table-cell; /* Treat action-link as a table cell */
	padding: 5px 10px; /* Adjust padding for the buttons */
	color: #ecf0f1;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

.action-link-edit:hover {
	color: #6750a5;
}

.action-link-delete:hover {
	color: #6750a5;
}
