@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252a;
	font-family: "Rubik", sans-serif;
}

.bold-text {
	font-weight: bold;
}

.small-text {
	font-size: 85%;
}

.home-heading {
	font-size: 250px;
}
.table-container {
	max-height: 400px;
	overflow-y: auto;
}

.content-table {
	color: #ecf0f1;
	border-collapse: collapse;
	min-width: 400px;
	width: 100%;
	border-collapse: collapse;
}

.content-table thead th {
	background-color: #0088a9;
	color: #ecf0f1;
	text-align: left;
	font-weight: bold;
	position: sticky;
	top: 0;
	z-index: 2;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}

.content-table tbody tr {
	border-bottom: 1px solid #313238;
}

body {
	background-color: #24252a;
}

.heading-add {
	color: #ecf0f1;
	padding: 10px 0px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1 {
	color: #ecf0f1;
	align-content: center;
}

.container-table {
	width: 100%;
	height: 300px;
}

.content-table {
	color: #ecf0f1;
	border-collapse: collapse;
	min-width: 400px;
	width: 100%;
	border-collapse: collapse;
}

.photo-container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.photo-container-add {
	display: flex;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 20px;
}

.photo-container-add * {
	align-content: center;
	justify-content: center;
}

.student-photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-table thead th {
	background-color: #0088a9;
	color: #ecf0f1;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}

.content-table tbody tr {
	border-bottom: 1px solid #313238;
}

li,
a,
button {
	font-weight: 500;
	font-size: 16px;
	color: #ecf0f1;
	text-decoration: none;
}
.form-group {
	color: #ecf0f1;
}

.form-control {
	background-color: #24252a;
	color: #ecf0f1;
}

.form-control:focus {
	background-color: #24252a;
	color: #ecf0f1;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: left;
	padding: 30px 10%;
}

.th-action {
	min-width: 50px;
	justify-content: right;
}

.NAVBAR {
	list-style: none;
}

.NAVBAR li {
	display: inline-block;
	padding: 0px 20px;
}

.NAVBAR li a {
	transition: all 0.3s ease 0s;
}

.NAVBAR li a:hover {
	color: #0088a9;
}

button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

.action-btn {
	display: flex;
	transition: all 0.3s ease 0s;
	gap: 20px;
	justify-content: right;
}

.action-link-edit,
.action-link-delete {
	display: table-cell;
	padding: 5px 10px;
	color: #ecf0f1;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	font-size: 14px;
}

.action-link-edit:hover {
	color: #0088a9;
}
