<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>NAVBAR</title>
		<link
			rel="stylesheet"
			href="../../static/styles.css"
		/>
	</head>
	<body>
		<header>
			<nav class="NAVBAR">
				<ul>
					<li>
						<a
							class="nav-item nav-link"
							id="student"
							href="/student"
							>Students</a
						>
					</li>
					<li>
						<a
							class="nav-item nav-link"
							id="course"
							href="/course"
							>Courses</a
						>
					</li>
					<li>
						<a
							class="nav-item nav-link"
							id="college"
							href="/college"
							>Colleges</a
						>
					</li>
				</ul>
			</nav>
		</header>
		<div class="container">
			<div>{% block content %}{% endblock %}</div>
		</div>
	</body>
</html>
